configuration {
	font: "Ubuntu Mono Bold 10";
	disable-history: false;
	case-sensitive: false;
	matching: "fuzzy";
	scroll-method: 1;
	max-history-size: 25;
}

@theme "~/.config/rofi/custom-theme.rasi"

